.shower{
    background-image: linear-gradient(to right, #ff1e56 , #f8dc88);
}

.first{
    height: 50px;
}




.fOR{
    height: 200px;
}
.footers{
    background-image: linear-gradient(#18b0b0, #116979);
}

.saso{
    background-image: linear-gradient(to right,#18b0b0, #116979);
}

.dgs{
    background-image: linear-gradient(to right,#18b0b0, #116979);
}

.clubs{
    background-image: linear-gradient(#05dfd7, #75daad);
}

body{
    background-image: linear-gradient(to right,#a8e6cf,#dcedc1);
}