.icons{
    background-color: #fdd365;
}

.icon{
    background-color: #fac234;
}

.inputs{
    background-image: linear-gradient(#481380, #7f78d2);
}    


small{
    color: rgb(252, 250, 247);
}
.fOR{
    height: 200px;
}

.footers{
    background-image: linear-gradient(#18b0b0, #116979);
}

